body, html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

canvas {
    display: block;
}

.right-side {
    display: table;
    width: 645px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-left: 5px solid #999;
}

.left-side {
    margin-right: 645px;
    height: 100%;
}

.chat-output-wrapper {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    // padding: 10px;
}

.chat-output {
    padding: 10px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    // flex: 1 1 auto;
    flex-direction: column;
    overflow-y: scroll;
}


input.chat-input {
    width: 80%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

button.send-message {
    box-sizing: border-box;
    width: 19%;
}

.video-controls {
    display: table-cell;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.content-wrapper {
    display: table;
    margin: 0 auto;
    text-align: center;
}

@media (min-height: 630px) {
    .content-wrapper {
        max-height: 100%;
        overflow: hidden;
    }
}

.main-content {
    display: table-cell;
}

.right-panel {
    width: 120px;
    display: table-cell;
    vertical-align: top;
    // transform: translateY(30%);
}

.video-group {
    // display: table-cell;
    display: inline-block;
    vertical-align: bottom;
    border-collapse: collapse;
    background-color: #ccc;
}

.video-control-row {
    display: table-row;
}

p.chat-message {
    min-height: 30px;
    background-color: #fff;
    border-radius: 20px;
    width: 70%;
    padding: 5px;
    margin-left: 10px;
}
p.chat-message-name {
    min-height: 30px;
    width: 70%;
    padding: 5px;
    margin-left: 10px;
    color: #e03a3a;
    margin-bottom: 0;
}

p.chat-message-img {
    min-height: 130px;
}

.img-frame {
    text-align: center;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #FFC107;
    z-index: 10;
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
}

span.header-logo {
    padding-left: 50px;
}

#deal-it-modal ..modal-content {
    background-color: #e6e6e6;
}

.bottom-group {
    margin: 16px;
}

.bottom-group__elements {
    width: 60%;
    float: left;
}

.bottom-group__range {
    position: relative;
    padding-top: 5px;
}

.range-description {
    padding-bottom: 5px;
}

.range-max {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.range-min {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.bottom-group__deal-button {
    width: 40%;
    float: left;
}

.rangeslider__fill {
    background-color: #00bcd4;
}
.rangeslider--horizontal {
    height: 10px;
}

.rangeslider__handle {
    width: 30px;
    height: 30px;
}